
# Configuración de Email - Copia este archivo a .env y completa los datos
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USER=mfds.camilo@gmail.com
SMTP_PASS=vmul afus cjjt wqnf
SMTP_FROM_EMAIL=noreply@latiendita.com
SMTP_FROM_NAME=La Tiendita de Siempre